.btn, a.btn {
	border: 2px solid #000;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;

	background: #000;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);

	color: #FFF;
	text-align: center;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 1.2em;

	cursor: pointer;
	display: inline-block;

	transition: transform linear 0.2s,
		box-shadow linear 0.2s,
		opacity linear 0.2s;
}

.btn:hover, .btn:focus {
	transform: translateY(-3px);
	box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
	outline: none;
}

.btn:active {
	transform: translateY(2px);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	opacity: 0.75;
}

.btn.inverted {
	border-color: #FFF;
	background: #FFF;
	color: #000;
}
.btn.ghost {
	border-color: #000;
	background: #FFF;
	color: #000;
}
