<h2>All Trips</h2>
<div class="container fluid">
    <app-ui-trip-card
        *ngFor="let trip of otherTrips" 
        className="col-4"
        [driverUID]="trip.driver"
        [seatsfilled]="trip.seatsfilled()"
        [totalseats]="trip.seats"
        [departtime]="trip.startTime"
        [departdest]="trip.startLocation"
        [arrivetime]="trip.endTime"
        [arrivedest]="trip.endLocation"
        [loggedInUid]="user.uid"
        [tripId]="trip.tripId"
        [showButton]="true"
        [trip]="trip"
        [parent]="this">
    </app-ui-trip-card>
</div>
