<h2>Nearby Trips</h2>
<div class="container fluid">
    <app-ui-trip-card
        *ngFor="let trip of trips" 
        className="col-4"
        [driverUID]="trip.driver"
        [seatsfilled]="trip.seatsfilled()"
        [totalseats]="trip.seats"
        [departtime]="trip.startTime"
        [departdest]="reverseGeocode(trip.startLat, trip.startLong)"
        [arrivetime]="trip.endTime"
        [arrivedest]="reverseGeocode(trip.endLat, trip.endLong)">
    </app-ui-trip-card>
</div>

<h2>My Trips</h2>
<h3>Confirmed</h3>
<div class="container fluid">
    <app-ui-trip-card
        *ngFor="let trip of confirmedTrips" 
        className="col-4"
        [driverUID]="trip.driver"
        [seatsfilled]="trip.seatsfilled()"
        [totalseats]="trip.seats"
        [departtime]="trip.startTime"
        [departdest]="reverseGeocode(trip.startLat, trip.startLong)"
        [arrivetime]="trip.endTime"
        [arrivedest]="reverseGeocode(trip.endLat, trip.endLong)">
    </app-ui-trip-card>
    <p *ngIf="confirmedTrips.length == 0" class="muted">You have no confirmed trips.</p>
</div>

<h3>Pending</h3>
<div class="container fluid">
    <app-ui-trip-card
        *ngFor="let trip of pendingTrips" 
        className="col-4"
        [driverUID]="trip.driver"
        [seatsfilled]="trip.seatsfilled()"
        [totalseats]="trip.seats"
        [departtime]="trip.startTime"
        [departdest]="reverseGeocode(trip.startLat, trip.startLong)"
        [arrivetime]="trip.endTime"
        [arrivedest]="reverseGeocode(trip.endLat, trip.endLong)">
    </app-ui-trip-card>
    <p *ngIf="pendingTrips.length == 0" class="muted">You have no pending trips.</p>
</div>

<h3>Posted</h3>
<div class="container fluid">
    <app-ui-trip-card
        *ngFor="let trip of postedTrips" 
        className="col-4"
        [driverUID]="trip.driver"
        [seatsfilled]="trip.seatsfilled()"
        [totalseats]="trip.seats"
        [departtime]="trip.startTime"
        [departdest]="reverseGeocode(trip.startLat, trip.startLong)"
        [arrivetime]="trip.endTime"
        [arrivedest]="reverseGeocode(trip.endLat, trip.endLong)">
    </app-ui-trip-card>
    <p *ngIf="postedTrips.length == 0" class="muted">You have no posted trips.</p>
</div>